%% -*- erlang -*-

{ deps_dir, [ "deps" ] }.
{ lib_dirs, [ "deps" ] }.

{ deps
, [ { emark, ".*", { git, "git@github.com:Spawnfest2012/emark.git", { branch, "master" } } }
  ]
}.

{ xref_checks, [ exports_not_used, undefined_function_calls ] }.

{ plugin_dir, "deps/emark/src" }.
{ plugins, [ emark_plugin ] }.

%%% Local Variables:
%%% erlang-indent-level: 2
%%% End:
